<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Book <%= @car.brand %> <%= @car.model %></h2>
      </div>
      <div class="form-control m-4 p-4 bg-white">
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
          <%= f.button :submit, class:"btn main-btn", value: "Book now" %>
          <%= link_to 'Back', request.referer, class:"btn secondary-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
