<div class="row">
  <div class="col-md-3 my-4">
    <div class="d-flex justify-content-between flex-column rounded-4">
      <%= cl_image_tag @car.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 w-100" %>
      <p class="fs-4 mb-0 fw-medium"><span class="fw-bold"><%= @car.brand %></span></p>
      <p class="mb-0"><%= @car.model %></p>
      <p class="fs-6 mb-0"><strong><%= number_with_delimiter(@car.price_per_day, delimiter: ',', separator: '.') %>$</strong>/day</p>
    </div>
  </div>
<div>
<%= link_to 'Book this car', new_car_booking_path(@car), class:"btn main-btn" %>
<% if @car.user == current_user %>
    <%= link_to 'Delete', profile_car_path(@car), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, method: :delete, class:"btn danger-btn" %>
<% end %>
<%= link_to 'Back', request.referer, class: "btn secondary-btn" %>
