<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <!-- Sidebar or Profile Picture and User Info -->
      <div class="card">
        <div class="card-body text-center">
          <!-- Profile Picture -->
          <%= image_tag current_user.profile_picture_url, class: "img-fluid rounded-circle mb-3", alt: "Profile Picture" %>

          <!-- User Info -->
          <h4 class="card-title"><%= current_user.full_name %></h4>
          <p class="card-text"><%= current_user.email %></p>
          <!-- Other user information you want to display -->

          <!-- Edit Profile Button -->
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Main Content -->
      <h1 class="mt-4">My Garage</h1>

      <!-- Cars List -->
      <%= render "shared/cars_list" %>
    </div>
  </div>
</div>
