<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center"></div>
        <div class="form-control m-4git p-4 bg-white" >
          <%= simple_form_for [:profile, @car] do |f| %>
            <%= f.input :brand %>
            <%= f.input :model %>
            <%= f.input :price_per_day %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, class:"btn btn-primary" %>
            <%= link_to 'Back', cars_path, class:"btn btn-secondary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
